
# Ignore specific visualization outputs
epifforma/create_visualizations/stuff_for_castro/

# Ignore Mac system file
epifforma/**/.DS_Store

# Optional: Ignore all PDFs in visualizations
epifforma/create_visualizations/*.pdf

# Optional: Ignore all RDS files project-wide
*.RDS

